*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* NAVBAR */
#navbar{
    background-color: #A7E6FF;
    color: white;
}
#sign-in{
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
}
#sign-in:hover{
    background-color: transparent;
    color: white;
}
#sign-up{
    color: white;
    background-color: #050C9C;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
}
#sign-up:hover{
    background-color: white;
    color: black;
}

/* HERO */
#button-hero{
    color: white;
    background-color: #050C9C;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
}
#button-hero:hover{
    background-color: white;
    color: black;
}

/* TENTANG KAMI */
#tentang-kami{
    text-align: justify;
}

/* KELAS */
#logo-kelas{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

/* KONTAK */
#kontak{
    text-align: justify;
}
#link-kontak a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
#link-kontak a:hover{
    color: #050C9C;
}

/* ION ICONS */
ion-icon{
    font-size: 30px;
    margin-right: 5px;
    cursor: pointer;
}
ion-icon:hover{
    color: #050C9C;
}